repos:
  - repo: https://github.com/psf/black
    rev: 24.10.0
    hooks:
      - id: black
        language_version: python3

  - repo: local
    hooks:
      - id: django-tests
        name: Django Tests
        entry: python manage.py test --verbosity=2
        language: system
        pass_filenames: false
        always_run: true
        stages: [pre-commit]
